<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>claudiob</string>
	<key>ordering</key>
	<array>
		<string>DF308D1D-23AF-4AF0-BA93-2135428008CD</string>
		<string>71802DE2-F3E6-4041-89BC-4E28AD1FF6F2</string>
	</array>
	<key>uuid</key>
	<string>E3E390DA-B5B2-48AC-ABFF-439A1B6C9E9C</string>
</dict>
</plist>
